WcfEntity/WcfEntity/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPersona" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SeleccionarPersonaPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarPersonaPorId" />
  </wsdl:message>
  <wsdl:message name="IService1_SeleccionarPersonaPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarPersonaPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPersona" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPersona" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SeleccionarPersonas_InputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarPersonas" />
  </wsdl:message>
  <wsdl:message name="IService1_SeleccionarPersonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarPersonasResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertarPersona" message="tns:IService1_InsertarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertarPersonaResponse" message="tns:IService1_InsertarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarPersonaPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SeleccionarPersonaPorId" message="tns:IService1_SeleccionarPersonaPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SeleccionarPersonaPorIdResponse" message="tns:IService1_SeleccionarPersonaPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarPersona" message="tns:IService1_ActualizarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarPersonaResponse" message="tns:IService1_ActualizarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarPersona" message="tns:IService1_EliminarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarPersonaResponse" message="tns:IService1_EliminarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarPersonas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SeleccionarPersonas" message="tns:IService1_SeleccionarPersonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SeleccionarPersonasResponse" message="tns:IService1_SeleccionarPersonas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarPersona">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarPersonaPorId">
      <soap:operation soapAction="http://tempuri.org/IService1/SeleccionarPersonaPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPersona">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPersona">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarPersonas">
      <soap:operation soapAction="http://tempuri.org/IService1/SeleccionarPersonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>